{{ define "content" }}
<h1>Videos known to Tagr:</h1>
<ol>
  {{- range $i, $f := .}}
  <li><a href="/player?file={{$f.Filename}}">{{if $f.Title}}{{$f.Title}}{{else}}{{$f.Filename}}{{end}}</a></li>
      {{- end}}
</ol>
{{ end }}
