<html>
  <head>
    <title>Main Video List | Tagr</title>
  </head>
  <body>
    <h1>Videos known to Tagr:</h1>
    {{- range $i, $f := .Entries}}
    <a href="/player?file={{$f.Filename}}">{{$f.Filename}}</a><br />
    {{- end}}
  </body>
</html>
