<html>
  <head>
    <title>Main Video List | Tagr</title>
  </head>
  <body>
    <h1>Videos known to Tagr:</h1>
    {{- range $i, $v := .Videos}}
    <a href="/player?file={{$v}}">{{$v}}</a><br />
    {{- end}}
  </body>
</html>
