<html>
  <head>
    <title>Main Video List | Tagr</title>
  </head>
  <body>
    <h1>Videos known to Tagr:</h1>
    <ol>
      {{- range $i, $f := .}}
      <li><a href="/player?file={{$f.Filename}}">{{if $f.Title}}{{$f.Title}}{{else}}{{$f.Filename}}{{end}}</a></li>
      {{- end}}
    </ol>
  </body>
</html>
