<html>
    <head>
        <title>Tagr Playback Interface</title>
    </head>
    <body>
        <video controls="controls" width="800">
            <source src="/video-file/{{.File}}" type="video/mp4" />
        </video>
    </body>
</html>
