<html>
    <head>
        <title>Tagr Playback Interface</title>
    </head>
    <body>
        <a href="/list">Back to List</a>
        <br />
        <video controls="controls" width="800">
            <source src="/video-file/{{.}}" type="video/mp4" />
        </video>
        <div id="metabox">
            <form id="generalMeta">
                <label>Title:
                    <input type="text" id="title" />
                </label>
                <label>Date:
                    <input type="text" id="date" />
                </label>
                <br />
                <label>Description:<br />
                    <textarea id="description" cols="98" rows="5" ></textarea>
                </label>
                <br />
                <label>Tags:
                    <input type="text" id="tags" />
                </label>
            </form>
            <button onClick="sendForm()">Update</button>
        </div>
    </body>
    <script>
     function updateForm() {
         xhr = new XMLHttpRequest();
         xhr.responseType = 'json';
         xhr.onreadystatechange = function() {
             if (xhr.readyState === XMLHttpRequest.DONE) {
                 if (xhr.status === 200) {
                     document.getElementById('title').value = xhr.response.Title;
                     document.getElementById('date').value = xhr.response.Date;
                     document.getElementById('description').value = xhr.response.Description;
                     document.getElementById('tags').value = xhr.response.Tags.join();
                 } else {
                     alert('Could not obtain file metadata.');
                 }
             }
         }
         xhr.open('GET', '/info?file={{.}}')
         xhr.send()
     }

     function sendForm() {
         data = new Object();
         data.Filename = "{{.}}";
         data.Title = document.getElementById('title').value;
         data.Date = document.getElementById('date').value;
         data.Description = document.getElementById('description').value;
         data.Tags = document.getElementById('tags').value.split(',');
         console.log(data);
         xhr = new XMLHttpRequest();
         xhr.open("POST", "/update?file={{.}}", true);
         xhr.setRequestHeader('Content-Type', 'application/json');
         xhr.send(JSON.stringify(data));
         xhr.onreadystatechange = function() {
             if (xhr.readyState === XMLHttpRequest.DONE) {
                 if (xhr.status === 200) {
                     console.log("Update Successful");
                 } else {
                     alert("Information Update failed!");
                 }
             }
         }
     }

     updateForm()
    </script>
</html>
